<nav class="navbar justify-content-between p-3">
  <a class="navbar-brand" routerLink= "/">Wayfarer</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    
  </form>
</nav>
<!-- <section class="header">
  <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
   <a class="navbar-brand pt-18" routerLink= "/">
     <div class="search">
        <app-search></app-search>
     </div>
    <div class="title">
      Wayfarer
    </div>
    </a>
  
</nav>
</section> -->