<div class="row">
   <div class="col-3 side">
      <app-side-bar></app-side-bar>
   </div>
   <div class="col-8">
      <div class="city mb-5">
         <div class="items">
          <h1>{{city.city}}</h1>
          <h2>United Kingdom</h2>

       </div>

       <div class="items">
         <img class="img-responsive imgCity" src="{{city.image}}" alt="" srcset="">
      </div>
      </div>
      <div class="post">
         <h1>Post</h1>
         <app-post routerLink="/cities/{{ city.id }}/posts"></app-post>
      </div>
   </div>

   <!-- <h2>{{city.city}}</h2>
   <img class="img-responsive imgcity" src="{{city.image}}" alt="" srcset="">
   <br>
   <h2>Post</h2>
   <div *ngFor="let post of city.posts">
       <a routerLink="/cities/{{ city.id }}/posts/{{ post.id }}" >{{post.title}}</a>
      <p>{{post.content}}</p>
   </div>
</div> -->



<router-outlet></router-outlet>